APP_NAME=pnl-extract-service
APP_ENV=dev

AZURE_TENANT_ID= a9b2a0d9-f43d-432c-97a6-2035ffc1969f
AZURE_CLIENT_ID= 
AZURE_CLIENT_SECRET=
SHAREPOINT_SITE_ID= 
SHAREPOINT_DRIVE_ID=
SHAREPOINT_FOLDER_PATH=

SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER= 
SNOWFLAKE_PASSWORD= 
SNOWFLAKE_ROLE= SG-AAD-RBAC-SNOWFLAKE-DEVELOPER
SNOWFLAKE_WAREHOUSE= XS_WAREHOUSE
SNOWFLAKE_DATABASE= 
SNOWFLAKE_SCHEMA=
SNOWFLAKE_TABLE=PANDL_MASTER_SKU
